#announcement.anchor
.ui.piled.segment
  h2.ui.dividing.header
    i.announcement.icon
    .content Announcement
  ul.ui.list
    li Homework Grades are announced. Check it out over the links : Class 01 Class 02.
    li Homework 1 is announced! Deadline is 10/12/2015 (Mon.) 12:00.
    li [Class 01] Please read and fill in the makeup class survey form for the class on 9/29.
    li [Class 02] First Class coming on 09/17/2015.
    li [Class 01] First Class coming on 09/15/2015.
    li Website created.

