#announcement.anchor
.ui.piled.segment
  h2.ui.dividing.header
    i.announcement.icon
    .content Announcement
  ul.ui.list
    //
      li
        .ui.green.label.horizontal Solutions
        | Remarks on programming problems Announced (See HW section) (2016/1/11).
      li
        .ui.red.label.horizontal Homework
        | HW#4 Announced (2016/12/22).
      li
        .ui.red.label.horizontal Homework
        | HW#3 Announced (2016/11/26).
      li
        .ui.blue.label.horizontal Previous exam
        | 2015 Midterm exam is announced
      li
        .ui.red.label.horizontal Homework
        | HW#2 Announced (2016/10/26).
      li
        .ui.red.label.horizontal Homework
        | HW#1 Announced (2016/10/6).
    li
      +alink('Extra sign-on form', 'https://docs.google.com/forms/d/e/1FAIpQLSeJKcLgn8RXrRasKx_BcLEBB8txHyrCHGjJ55mDH0XRYXfa_g/viewform')
      |  (Please fill in by 17:20 today) (2017/9/14).
    li Website created (2017/8/16).

