#announcement.anchor
.ui.piled.segment
  h2.ui.dividing.header
    i.announcement.icon
    .content Announcement
  ul.ui.list
    li
      .ui.blue.label.horizontal Previous exam
      | 2015 Midterm exam is announced
    li
      .ui.red.label.horizontal Homework
      | HW#2 Announced (2016/10/26).
    li
      .ui.red.label.horizontal Homework
      | HW#1 Announced (2016/10/6).
    li Website created (2016/9/21).

