#homework.anchor
.section
  h2.ui.dividing.header
    i.file.outline.icon
    .content Homework
  h3.ui.dividing.header Regular homework
  table.ui.celled.table
    thead
      th ID
      th Due
      th Problems (Last Modified)
      th Solution
    tbody
      tr
        td HW1
        td
          | 2017/10/19 (Thu.) 14:20
        td
          +pdflink('hw1.pdf', 'https://www.dropbox.com/s/h7yh954yuuw7pfm/hw1.pdf?dl=0')
        td
          +pdflink('hw1_sol.pdf', 'https://www.dropbox.com/s/2beqv8uhqdms1wz/hw1_sol.pdf?dl=0')
      tr
        td HW2
        td
          | 2017/11/09 (Thu.) 17:20
        td
          +pdflink('hw2.pdf', 'https://www.dropbox.com/s/wgplsxvmoc9hoos/hw2.pdf?dl=0')

        td
          //
            a(href="https://www.dropbox.com/s/p3ihk4ype0u4sby/hw2_sol.pdf?dl=1" target="_blank")
              i.external.icon
              | hw2_sol.pdf
      //
        tr
          td HW3
          td
            | 2016/12/15 (Thu.) 14:20
          td
            a(href="https://www.dropbox.com/s/bs0ml6l7u4o2ku7/hw3.pdf?dl=1" target="_blank")
              i.external.icon
              | hw3.pdf
          td
            a(href="https://www.dropbox.com/s/unqk1ou2srm30k7/hw3_sol.pdf?dl=1" target="_blank")
              i.external.icon
              | hw3_sol.pdf
            br
            div(style="margin-top: 10px;")
            a(href="https://www.dropbox.com/s/3tmx3dnkgd40xgm/prog_sol.pdf?dl=1" target="_blank")
              i.external.icon
              | Remarks on previous
              br
              | programming problems
        tr.positive
          td HW4
          td
            i.attention.icon
            | 2016/1/12 (Thu.) 14:20
          td
            a(href="https://www.dropbox.com/s/dovyu6y33g3fg0j/hw4.pdf?dl=1" target="_blank")
              i.external.icon
              | hw4.pdf
          td TBD
      //tr
        //td HW5
        //td 01/11/2016
        //td
          //a(href="#")
            //i.external.icon
            //| pdf
        //td
          //a(href="#")
            //i.external.icon
            //| pdf
          //a.second(href="#")
            //i.external.icon
            //| prob4.cpp (1/12)
  h3.ui.dividing.header Mini homework
  table.ui.celled.table
    thead
      th ID
      th Due
      th Problems
      th Solution
      th Reference From
    tbody
      tr
        td Mini-HW1
        td 2017/09/28 (Thu.) 14:20
        td
          +pdflink('mini_hw1.pdf', 'https://www.dropbox.com/s/6p213b95mf1igtu/mini_hw1.pdf?dl=0')
        td
          +pdflink('mini_hw1_sol.pdf', 'https://www.dropbox.com/s/dnmn5a09o019ole/mini_hw1_sol.pdf?dl=0')
        td
          | 李哲安
      tr
        td Mini-HW2
        td 2017/10/05 (Thu.) 14:20
        td
          +pdflink('mini_hw2.pdf', 'https://www.dropbox.com/s/u0rcexcbek92tvl/mini_hw2.pdf?dl=0')
        td
          //
            +pdflink('mini_hw2_sol.pdf', 'https://www.dropbox.com/s/i57kykqxuzy1m2q/mini_hw2_sol.pdf?dl=1')
        td
          //
            | 朱柏澄
      tr
        td Mini-HW3
        td 2017/10/12 (Thu.) 17:20
        td
          +pdflink('mini_hw3.pdf', 'https://www.dropbox.com/s/ehlbzmtfdae0aga/mini_hw3.pdf?dl=0')
        td
          //
            +pdflink('mini_hw3_sol.pdf', 'https://www.dropbox.com/s/bp0ein8xsqxue4y/mini_hw3_sol.pdf?dl=1')
        td
          //
            | 張立暐
      tr
        td Mini-HW4
        td 2017/10/19 (Thu.) 17:20
        td
          +pdflink('mini_hw4.pdf', 'https://www.dropbox.com/s/pjagfe8o3lpph5y/mini_hw4.pdf?dl=0')
        td
          //
            +pdflink('mini_hw3_sol.pdf', 'https://www.dropbox.com/s/bp0ein8xsqxue4y/mini_hw3_sol.pdf?dl=1')
        td
          //
            | 張立暐
      tr
        td Mini-HW5
        td 2017/10/26 (Thu.) 17:20
        td
          +pdflink('mini_hw5.pdf', 'https://www.dropbox.com/s/vnme1jkhx95eweo/mini_hw5.pdf?dl=0')
        td
          //
            +pdflink('mini_hw3_sol.pdf', 'https://www.dropbox.com/s/bp0ein8xsqxue4y/mini_hw3_sol.pdf?dl=1')
        td
          //
            | 張立暐

