#homework.anchor
.section
  h2.ui.dividing.header
    i.file.outline.icon
    .content Homework
  h3.ui.dividing.header Regular homework
  table.ui.celled.table
    thead
      th ID
      th Due
      th Problems (Last Modified)
      th Solution
    tbody
      tr
        td HW1
        td
          | 2016/10/20 (Thu.) 14:20
        td
          a(href="https://www.dropbox.com/s/fvyh3r6ue67ec25/hw1.pdf?dl=1" target="_blank")
            i.external.icon
            | hw1.pdf

        td
          a(href="https://www.dropbox.com/s/ny58zp98je2ibph/hw1_sol.pdf?dl=1" target="_blank")
            i.external.icon
            | hw1_sol.pdf
      tr.positive
        td HW2
        td
          i.attention.icon
          | 2016/11/10 (Thu.) 14:20
        td
          a(href="https://www.dropbox.com/s/kujo61jg2he766x/hw2.pdf?dl=1" target="_blank")
            i.external.icon
            | hw2.pdf

        td TBD
      tr
        td HW3
        td TBD
        td TBD
        td TBD
      tr
        td HW4
        td TBD
        td TBD
        td TBD
      //tr
        //td HW5
        //td 01/11/2016
        //td
          //a(href="#")
            //i.external.icon
            //| pdf
        //td
          //a(href="#")
            //i.external.icon
            //| pdf
          //a.second(href="#")
            //i.external.icon
            //| prob4.cpp (1/12)
  h3.ui.dividing.header Mini homework
  table.ui.celled.table
    thead
      th ID
      th Due
      th Problems
      th Solution
      th Reference From
    tbody
      tr
        td Mini-HW1
        td 2016/10/06 (Thu.) 14:20
        td
            +alink('mini_hw1.pdf', 'https://www.dropbox.com/s/44m93srzd2en0v1/mini_hw1.pdf?dl=1')
        td
            +alink('mini_hw1_sol1.pdf', 'https://www.dropbox.com/s/x3ylva5j4j0omx6/mini_hw1_sol1.pdf?dl=1')
            br
            +alink('mini_hw1_sol2.pdf', 'https://www.dropbox.com/s/jbzrdqgqbdmvyzg/mini_hw1_sol2.pdf?dl=1')
        td
            | 張立暐
            br
            | 鮑靖霖
      tr
        td Mini-HW2
        td 2016/10/13 (Thu.) 14:20
        td
            +alink('mini_hw2.pdf', 'https://www.dropbox.com/s/k6gqh9ktryoumis/mini_hw2.pdf?dl=1')
        td
            +alink('mini_hw2_sol.pdf', 'https://www.dropbox.com/s/i57kykqxuzy1m2q/mini_hw2_sol.pdf?dl=1')
        td
            | 朱柏澄
      tr
        td Mini-HW3
        td 2016/10/20 (Thu.) 14:20
        td
            +alink('mini_hw3.pdf', 'https://www.dropbox.com/s/1gu9uuxq2blv1tq/mini_hw3.pdf?dl=1')
        td
            +alink('mini_hw3_sol.pdf', 'https://www.dropbox.com/s/bp0ein8xsqxue4y/mini_hw3_sol.pdf?dl=1')
        td
            | 張立暐
      tr
        td Mini-HW4
        td 2016/10/27 (Thu.) 14:20
        td
            +alink('mini_hw4.pdf', 'https://www.dropbox.com/s/vifmq0jnx2o654q/mini_hw4.pdf?dl=1')
        td
            +alink('mini_hw4_sol.pdf', 'https://www.dropbox.com/s/dfarw93ywk1tmew/mini_hw4_sol.pdf?dl=1')
        td
          | TA
      tr
        td Mini-HW5
        td 2016/11/3 (Thu.) 14:20
        td
            +alink('mini_hw5.pdf', 'https://www.dropbox.com/s/arpidnlpq2veyx5/mini_hw5.pdf?dl=1')
        td TBD
        td TBD
      //tr
        //td HW5
        //td 01/11/2016
        //td
          //a(href="#")
            //i.external.icon
            //| pdf
        //td
          //a(href="#")
            //i.external.icon
            //| pdf
          //a.second(href="#")
            //i.external.icon
            //| prob4.cpp (1/12)

