#homework.anchor
.section
  h2.ui.dividing.header
    i.file.outline.icon
    .content Homework
  h3.ui.dividing.header Regular homework
  table.ui.celled.table
    thead
      th ID
      th Due
      th Problems (Last Modified)
      th Solution
    tbody
      tr
        td HW1
        td TBD
        td TBD
        td TBD
      tr
        td HW2
        td TBD
        td TBD
        td TBD
      tr
        td HW3
        td TBD
        td TBD
        td TBD
      tr
        td HW4
        td TBD
        td TBD
        td TBD
      //tr
        //td HW5
        //td 01/11/2016
        //td
          //a(href="#")
            //i.external.icon
            //| pdf
        //td
          //a(href="#")
            //i.external.icon
            //| pdf
          //a.second(href="#")
            //i.external.icon
            //| prob4.cpp (1/12)
  h3.ui.dividing.header Mini homework
  table.ui.celled.table
    thead
      th ID
      th Problems
      th Solution
      th Reference From
    tbody
      tr
        td HW1
        td TBD
        td TBD
        td TBD
      //tr
        //td HW5
        //td 01/11/2016
        //td
          //a(href="#")
            //i.external.icon
            //| pdf
        //td
          //a(href="#")
            //i.external.icon
            //| pdf
          //a.second(href="#")
            //i.external.icon
            //| prob4.cpp (1/12)

