#homework.anchor
.section
  h2.ui.dividing.header
    i.file.outline.icon
    .content Homework
  h3.ui.dividing.header Regular homework
  table.ui.celled.table
    thead
      th ID
      th Due
      th Problems (Last Modified)
      th Solution
    tbody
      tr
        td HW1
        td
          | 2017/10/19 (Thu.) 14:20
        td
          +pdflink('hw1.pdf', 'https://www.dropbox.com/s/h7yh954yuuw7pfm/hw1.pdf?dl=0')
        td
      //
            a(href="https://www.dropbox.com/s/ny58zp98je2ibph/hw1_sol.pdf?dl=1" target="_blank")
              i.external.icon
              | hw1_sol.pdf
        tr
          td HW2
          td
            | 2016/11/10 (Thu.) 14:20
          td
            a(href="https://www.dropbox.com/s/kujo61jg2he766x/hw2.pdf?dl=1" target="_blank")
              i.external.icon
              | hw2.pdf

          td
            a(href="https://www.dropbox.com/s/p3ihk4ype0u4sby/hw2_sol.pdf?dl=1" target="_blank")
              i.external.icon
              | hw2_sol.pdf
        tr
          td HW3
          td
            | 2016/12/15 (Thu.) 14:20
          td
            a(href="https://www.dropbox.com/s/bs0ml6l7u4o2ku7/hw3.pdf?dl=1" target="_blank")
              i.external.icon
              | hw3.pdf
          td
            a(href="https://www.dropbox.com/s/unqk1ou2srm30k7/hw3_sol.pdf?dl=1" target="_blank")
              i.external.icon
              | hw3_sol.pdf
            br
            div(style="margin-top: 10px;")
            a(href="https://www.dropbox.com/s/3tmx3dnkgd40xgm/prog_sol.pdf?dl=1" target="_blank")
              i.external.icon
              | Remarks on previous
              br
              | programming problems
        tr.positive
          td HW4
          td
            i.attention.icon
            | 2016/1/12 (Thu.) 14:20
          td
            a(href="https://www.dropbox.com/s/dovyu6y33g3fg0j/hw4.pdf?dl=1" target="_blank")
              i.external.icon
              | hw4.pdf
          td TBD
      //tr
        //td HW5
        //td 01/11/2016
        //td
          //a(href="#")
            //i.external.icon
            //| pdf
        //td
          //a(href="#")
            //i.external.icon
            //| pdf
          //a.second(href="#")
            //i.external.icon
            //| prob4.cpp (1/12)
  h3.ui.dividing.header Mini homework
  table.ui.celled.table
    thead
      th ID
      th Due
      th Problems
      th Solution
      th Reference From
    tbody
      tr
        td Mini-HW1
        td 2017/09/28 (Thu.) 14:20
        td
          +pdflink('mini_hw1.pdf', 'https://www.dropbox.com/s/6p213b95mf1igtu/mini_hw1.pdf?dl=0')
        td
          //
            +pdflink('mini_hw1_sol1.pdf', 'https://www.dropbox.com/s/x3ylva5j4j0omx6/mini_hw1_sol1.pdf?dl=1')
            br
            +pdflink('mini_hw1_sol2.pdf', 'https://www.dropbox.com/s/jbzrdqgqbdmvyzg/mini_hw1_sol2.pdf?dl=1')
        td
          //
            | 張立暐
            br
            | 鮑靖霖
      tr
        td Mini-HW2
        td 2017/10/05 (Thu.) 14:20
        td
          +pdflink('mini_hw2.pdf', 'https://www.dropbox.com/s/u0rcexcbek92tvl/mini_hw2.pdf?dl=0')
        td
          //
            +pdflink('mini_hw2_sol.pdf', 'https://www.dropbox.com/s/i57kykqxuzy1m2q/mini_hw2_sol.pdf?dl=1')
        td
          //
            | 朱柏澄
      //
        tr
          td Mini-HW3
          td 2016/10/20 (Thu.) 14:20
          td
              +pdflink('mini_hw3.pdf', 'https://www.dropbox.com/s/1gu9uuxq2blv1tq/mini_hw3.pdf?dl=1')
          td
              +pdflink('mini_hw3_sol.pdf', 'https://www.dropbox.com/s/bp0ein8xsqxue4y/mini_hw3_sol.pdf?dl=1')
          td
              | 張立暐
        tr
          td Mini-HW4
          td 2016/10/27 (Thu.) 14:20
          td
              +pdflink('mini_hw4.pdf', 'https://www.dropbox.com/s/vifmq0jnx2o654q/mini_hw4.pdf?dl=1')
          td
              +pdflink('mini_hw4_sol.pdf', 'https://www.dropbox.com/s/dfarw93ywk1tmew/mini_hw4_sol.pdf?dl=1')
          td
            | TA
        tr
          td Mini-HW5
          td 2016/11/3 (Thu.) 14:20
          td
              +pdflink('mini_hw5.pdf', 'https://www.dropbox.com/s/arpidnlpq2veyx5/mini_hw5.pdf?dl=1')
          td
              +pdflink('mini_hw5_sol.pdf', 'https://www.dropbox.com/s/zax8zwkjbu4gwle/mini_hw5_sol.pdf?dl=1')
          td
            | TA
        tr
          td Mini-HW6
          td 2016/12/1 (Thu.) 14:20
          td
              +pdflink('mini_hw6.pdf', 'https://www.dropbox.com/s/09cuofwglwxtdq2/mini_hw6.pdf?dl=1')
          td
              +pdflink('mini_hw6_sol.pdf', 'https://www.dropbox.com/s/fkm05lzpfvx5l96/mini_hw6_sol.pdf?dl=1')
          td
            | TA
        tr
          td Mini-HW7
          td 2016/12/8 (Thu.) 14:20
          td
              +pdflink('mini_hw7.pdf', 'https://www.dropbox.com/s/uwf3vkiam549hfr/mini_hw7.pdf?dl=1')
          td
              +pdflink('mini_hw7_sol.pdf', 'https://www.dropbox.com/s/iufdtfdlmfsacoi/mini_hw7_sol.pdf?dl=1')
          td
            | TA
        tr
          td Mini-HW8
          td 2016/12/15 (Thu.) 14:20
          td
              +pdflink('mini_hw8.pdf', 'https://www.dropbox.com/s/sueynz1dl8er24x/mini_hw8.pdf?dl=1')
          td
              +pdflink('mini_hw8_sol.pdf', 'https://www.dropbox.com/s/67muscfqy50l86m/mini_hw8_sol.pdf?dl=1')
          td
            | TA
        tr
          td Mini-HW9
          td 2016/12/22 (Thu.) 14:20
          td
              +pdflink('mini_hw9.pdf', 'https://www.dropbox.com/s/i9uh0qwre9eqwwm/mini_hw9.pdf?dl=1')
          td
              +pdflink('mini_hw9_sol.pdf', 'https://www.dropbox.com/s/l697c72k7lye6fr/mini_hw9_sol.pdf?dl=1')
          td
              | 曾千育
        tr
          td Mini-HW10
          td 2016/12/29 (Thu.) 14:20
          td
              +pdflink('mini_hw10.pdf', 'https://www.dropbox.com/s/gxo7cndvgt1mnd4/mini_hw10.pdf?dl=1')
          td
              +pdflink('mini_hw10_sol1.pdf', 'https://www.dropbox.com/s/1i7u31rt830xcmi/mini_hw10_sol1.pdf?dl=1')
              br
              +pdflink('mini_hw10_sol2.pdf', 'https://www.dropbox.com/s/safwos7024r0rid/mini_hw10_sol2.pdf?dl=1')
          td
              | 王郁婷
              br
              | 施長元

