doctype html
html
  include header
  body
    include menu
    #margin-menu-bottom
    include h
    #main-container.ui.text.container
      include announcement
      include info
      include homework
      include teaching
      include links

