#info.anchor
.section
  h2.ui.dividing.header
    i.info.icon
    .content Course Information
  table.ui.celled.table
    thead
      th Class
      th Instructor
      th Time
      th Location
    tbody
      tr
        td 01
        td Hsu-Chun Hsiao
        td Tuesday 7,8,9 14:20 ~ 17:20
        td R102
      tr
        td 02
        td Hsin-Mu (Michael) Tsai
        td Thursday 7,8,9 14:20 ~ 17:20
        td R102 
  h3.ui.dividing.header Text Book
  | Introduction to Algorithm, 3rd Edition, Cormen, Leiserson, Rivest and Stein, the MIT Press 

