#info.anchor
.section
  h2.ui.dividing.header
    i.info.icon
    .content Course Information
  .ui.two.column.stackable.grid
    .column
      .ui.items
        .item
          .content
            .header
              i.user.icon
              | Instructor
            .description.shift-left
              i.amazon.icon
              a(href="http://www.csie.ntu.edu.tw/~hchsiao/", target="_blank") Hsu-Chun Hsiao
            .description.shift-left
              i.bitcoin.icon
              a(href="http://www.csie.ntu.edu.tw/~yvchen/", target="_blank") Yun-Nung (Vivian) Chen
    .column
      .ui.items
        .item
          .content
            .header
              i.wait.icon
              | Time
            .description.shift-left Thursday 7,8,9 (14:20 ~ 17:20)
    .column
      .ui.items
        .item
          .content
            .header
              i.location.arrow.icon
              | Classroom
            .description.shift-left
              i.amazon.icon
              a(href="http://map.ntu.edu.tw/ntu.html?layer=build&uid=AT3001", target="_blank") R102
            .description.shift-left
              i.bitcoin.icon
              a(href="http://map.ntu.edu.tw/ntu.html?layer=build&uid=AT3001", target="_blank") R104
    .column
      .ui.items
        .item
          .content
            .header
              i.location.book.icon
              | Text Book
            .description.shift-left
              a(href="https://mitpress.mit.edu/books/introduction-algorithms", target="_blank")
                | Introduction to Algorithm, 3rd Edition, Cormen, Leiserson, Rivest and Stein, the MIT Press
