#links.anchor
.section
  h2.ui.dividing.header
    i.linkify.icon
    .content Links

  ul
    li 
      a(href="https://www.facebook.com/groups/tsai.dsa.ada/") Facebook Group
    li Grade: 
      a Class01,  
      a Class02
    li 
      a 作業上傳教學.pdf, 
      a 作業上傳教學.pptx


