#syllabus.anchor
.section
  .ui.secondary.pointing.menu
    h2.ui.header(style='margin-bottom: 0;')
      i.list.icon
      .content Syllabus & Slides
    .right.menu.syllabus-menu
      .item.purple.active(data-tab='class-a')
        i.amazon.icon
        b Hsu-Chun Hsiao
      .item.purple(data-tab='class-b')
        i.bitcoin.icon
        b Yun-Nung (Vivian) Chen
  //
    .ui.message.error
      .header The following syllabus is tentative and subject to change.
  .ui.tab.active(data-tab='class-a')
    .ui.message.warning
      .header How to access slides
      p
        | To access the following slides, you #[b MUST] use your NTU CSIE Google for Education account.
        br
        | (If you don't have an account, please contact us to get permission with your personal email).
        ul
          li Username:
            span.monobox(style="word-wrap:break-word")= "<student_id>@csie.ntu.edu.tw"
          li Password:
            span.monobox= "<same as your CSIE workstation password>"
    table.ui.compact.table
      thead
        th #Week
        th Date
        th Topic
        th Slides
        th Note
      tbody
        tr
          td 1
          td Sep 14
          td Course Policy & Extra Sign-on (No Class)
          td
            +pdflink('course info', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6od3VFZlVLWlFpams/view?usp=sharing')
          td

        tr
          td 2
          td Sep 21
          td Introduction
          td
            +pdflink('intro', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oeDNxLTVnOTRIYzg/view?usp=sharing')
            +pdflink('d&c-1', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6od3ZMbEdJNWUxVzA/view?usp=sharing')
          td.warning
            i.attention.icon
            | HW1 out

        tr
          td 3
          td Sep 28
          td Divide-and-Conquer
          td
            +pdflink('d&c-2', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oREpNVXc2c3d2TEE/view?usp=sharing')
          td

        tr
          td 4
          td Oct 5
          td
            | Divide-and-Conquer
            br
            | Dynamic Programming
          td
            +pdflink('dp-1', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6od1VkWnZPclc1NGs/view?usp=sharing')
          td

        tr
          td 5
          td Oct 12
          td Dynamic Programming
          td
            +pdflink('dp-2', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oZXlnZ3VWWDl2U1U/view?usp=sharing')
          td.warning
            i.attention.icon
            p(style="display: inline-block;")
              | HW2 out

        tr
          td 6
          td Oct 19
          td Dynamic Programming
          td
            +pdflink('dp-3', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oNnJGa21CZHBkX2c/view?usp=sharing')
          td.error
            i.attention.icon
            p(style="display: inline-block;")
              | HW1 due

        tr
          td 7
          td Oct 26
          td TA Recitation
          td
            +pdflink('hw1-analysis', 'https://www.dropbox.com/s/sg4lxaefz7bthtw/ada.pdf?dl=0')
          td R103

        tr
          td 8
          td Nov 2
          td Greedy Algorithms
          td
            +pdflink('greedy', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oMUN5bHVFaVNwam8/view?usp=sharing')
          td

        tr
          td 9
          td Nov 9
          td Greedy Algorithms / Review
          td
            //
              +pdflink('midterm sol', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oUDNYN3hfcEhQQ0E/view?usp=sharing')
          td.error
            i.attention.icon
            | HW2 due

        tr.active
          td 10
          td Nov 16
          td Mid-term Exam
          td
          td

        tr
          td 11
          td Nov 23
          td Graph Algorithms
          td
            +pdflink('voting', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/1SG7mheHMSn3EnW2gwSWA3b6GYNmPx8Sy/view?usp=sharing')
            br
            +pdflink('graph-1', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/17ZAqCSFHvpWNUETyNlOnuixPL-YFlnS3/view?usp=sharing')
          td.warning
            i.attention.icon
            | HW3 out

        tr
          td 12
          td Nov 30
          td Graph Algorithms
          td
            +pdflink('graph-2', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/1mjQzyvwo85Z42_8W0vS18pblv13_1TO0/view?usp=sharing')
          td

        tr
          td 13
          td Dec 7
          td Amortized Analysis
          td
            //
              +pdflink('graph-3', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oZG43V1pGY05GUUk/view?usp=sharing')
          td

        tr
          td 14
          td Dec 14
          td NP Completeness
          td
            //
              +pdflink('amortized', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oTlVtUlMycmRQLXc/view?usp=sharing')
              br
              +pdflink('npc-1', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oSHVhVENwX0xtNFU/view?usp=sharing')
          td.error
            i.attention.icon(style="vertical-align: top")
            p(style="display: inline-block;")
              | HW3 due
              br
              | HW4 out

        tr
          td 15
          td Dec 21
          td NP Completeness
          td
            //
              +pdflink('npc-2', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oRjFLd1REUEFFYWs/view?usp=sharing')
          td

        tr
          td 16
          td Dec 28
          td Approximation Algorithms
          td
            //
              +pdflink('approx', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oZDNFTUlvR1BURVU/view?usp=sharing')
          td


        tr
          td 17
          td Jan 4
          td Other Topics / Review
          td
            //
              +pdflink('review', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oMnUxanR6T0gtWFE/view?usp=sharing')
              br
              +pdflink('2015 final', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oWk1OVE5kZGo3NDA/view?usp=sharing')
          td.error
            i.attention.icon
            | HW4 due

        tr.active
          td 18
          td Jan 11
          td Final Exam
          td
          td
  .ui.tab(data-tab='class-b')
    table.ui.compact.table
      thead
        th #Week
        th Date
        th Topic
        th Slides
        th Note
      tbody
        tr
          td 1
          td Sep 14
          td Course Policy & Extra Sign-on (No Class)
          td
            +pdflink('course info', 'https://www.csie.ntu.edu.tw/~yvchen/f106-ada/doc/170914_CourseLogistics.pdf')
          td

        tr
          td 2
          td Sep 21
          td Introduction
          td
            +pdflink('intro', 'https://www.csie.ntu.edu.tw/~yvchen/f106-ada/doc/170921_Introduction.pdf')
            br
            +videolink('recording', 'https://youtu.be/6HCy0zS4XpY')
          td.warning
            i.attention.icon
            | HW1 out

        tr
          td 3
          td Sep 28
          td Divide-and-Conquer
          td
            +pdflink('d&c-1', 'https://www.csie.ntu.edu.tw/~yvchen/f106-ada/doc/170928_Divide-and-Conquer.pdf')
            br
            +videolink('recording', 'https://youtu.be/ywJJvBwha4s')
          td

        tr
          td 4
          td Oct 5
          td Divide-and-Conquer
          td
            +pdflink('d&c-2', 'https://www.csie.ntu.edu.tw/~yvchen/f106-ada/doc/171005_Divide-and-Conquer2.pdf')
            br
            +videolink('recording', 'https://youtu.be/ncwL3Hmx7e4')
          td

        tr
          td 5
          td Oct 12
          td Dynamic Programming
          td
            +pdflink('dp-1', 'https://www.csie.ntu.edu.tw/~yvchen/f106-ada/doc/171012_DynamicProgramming.pdf')
            br
            +videolink('recording', 'https://youtu.be/lSENvzfDkC0')
          td.warning
            i.attention.icon
            p(style="display: inline-block;")
              | HW2 out

        tr
          td 6
          td Oct 19
          td Dynamic Programming
          td
            +pdflink('dp-2', 'https://www.csie.ntu.edu.tw/~yvchen/f106-ada/doc/171019_DynamicProgramming2.pdf')
            br
            +videolink('recording', 'https://youtu.be/XG2Sac9lr3E')
          td.error
            i.attention.icon
            p(style="display: inline-block;")
              | HW1 due

        tr
          td 7
          td Oct 26
          td TA Recitation
          td
            +pdflink('hw1-analysis', 'https://www.dropbox.com/s/sg4lxaefz7bthtw/ada.pdf?dl=0')
          td R103

        tr
          td 8
          td Nov 2
          td Greedy Algorithms
          td
            +pdflink('greedy-1', 'https://www.csie.ntu.edu.tw/~yvchen/f106-ada/doc/171102_Greedy.pdf')
            br
            +videolink('recording', 'https://youtu.be/AGwFbf9Tclo')
          td

        tr
          td 9
          td Nov 9
          td Greedy Algorithms / Review
          td
            +pdflink('greedy-2', 'https://www.csie.ntu.edu.tw/~yvchen/f106-ada/doc/171109_Greedy2.pdf')
            br
            +pdflink('midterm-review', 'https://www.csie.ntu.edu.tw/~yvchen/f106-ada/doc/171109_MidtermReview.pdf')
            br
            +videolink('recording', 'https://youtu.be/jZda4FRh6MU')
          td.error
            i.attention.icon
            | HW2 due

        tr.active
          td 10
          td Nov 16
          td Mid-term Exam
          td
          td

        tr
          td 11
          td Nov 23
          td Graph Algorithms
          td
            +pdflink('graph', 'https://www.csie.ntu.edu.tw/~yvchen/f106-ada/doc/171123_Graph.pdf')
            br
            +videolink('recording', 'https://youtu.be/AxMT651JD0c')
          td.warning
            i.attention.icon
            | HW3 out

        tr
          td 12
          td Nov 30
          td Graph Algorithms
          td
            +pdflink('graph-2', 'https://www.csie.ntu.edu.tw/~yvchen/f106-ada/doc/171130_Graph2.pdf')
          td

        tr
          td 13
          td Dec 7
          td Amortized Analysis
          td
            //
              +pdflink('graph-3', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oZG43V1pGY05GUUk/view?usp=sharing')
          td

        tr
          td 14
          td Dec 14
          td NP Completeness
          td
            //
              +pdflink('amortized', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oTlVtUlMycmRQLXc/view?usp=sharing')
              br
              +pdflink('npc-1', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oSHVhVENwX0xtNFU/view?usp=sharing')
          td.error
            i.attention.icon(style="vertical-align: top")
            p(style="display: inline-block;")
              | HW3 due
              br
              | HW4 out

        tr
          td 15
          td Dec 21
          td NP Completeness
          td
            //
              +pdflink('npc-2', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oRjFLd1REUEFFYWs/view?usp=sharing')
          td

        tr
          td 16
          td Dec 28
          td Approximation Algorithms
          td
            //
              +pdflink('approx', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oZDNFTUlvR1BURVU/view?usp=sharing')
          td


        tr
          td 17
          td Jan 4
          td Other Topics / Review
          td
            //
              +pdflink('review', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oMnUxanR6T0gtWFE/view?usp=sharing')
              br
              +pdflink('2015 final', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oWk1OVE5kZGo3NDA/view?usp=sharing')
          td.error
            i.attention.icon
            | HW4 due

        tr.active
          td 18
          td Jan 11
          td Final Exam
          td
          td

