#syllabus.anchor
.section
  h2.ui.dividing.header
    i.list.icon
    .content Syllabus & Slides
  .ui.message.warning
    .header How to access slides
    p
      | You #[b MUST] use your NTU CSIE Google for Education account to access slides.
      br
      | (If you don't have an account, please contact us to get permission with your personal email).
      ul
        li Username:
          span.monobox(style="word-wrap:break-word")= "<student_id>@csie.ntu.edu.tw"
        li Password:
          span.monobox= "<same as your CSIE workstation password>"
  table.ui.compact.table
    thead
      th #Week
      th Date
      th Topic
      th Slides
      th Note
    tbody
      tr
        td 1
        td Sep 15
        td Holiday, no class
        td
        td

      tr
        td 2
        td Sep 22
        td Introduction
        td
          +alink('info', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oNTVlVXJQR09ad00/view?usp=sharing')
          +alink('intro', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oMktQTkl6TjI0WVE/view?usp=sharing')
        td

      tr
        td 3
        td Sep 29
        td Divide-and-Conquer
        td
          +alink('d&c-1', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oZHVvMmczR0c1QkU/view?usp=sharing')
        td

      tr
        td 4
        td Oct 6
        td Divide-and-Conquer
        td
          +alink('d&c-2', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oOW55VEJNTWtkWEE/view?usp=sharing')
        td.warning
          i.attention.icon
          | HW1 out

      tr
        td 5
        td Oct 13
        td Dynamic Programming
        td
          +alink('dp-1', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oU2ZLM3hmN2t0WFE/view?usp=sharing')
        td

      tr
        td 6
        td Oct 20
        td Dynamic Programming
        td
          +alink('dp-2', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oRUxoTWN1TlV5M1k/view?usp=sharing')
        td.error
          i.attention.icon(style="vertical-align: top")
          p(style="display: inline-block;")
            | HW1 due
            br
            | HW2 out

      tr
        td 7
        td Oct 27
        td Greedy Algorithms
        td
          +alink('greedy-1', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oeFNCbTRnOGdHZ0E/view?usp=sharing')
        td

      tr
        td 8
        td Nov 3
        td Greedy Algorithms
          br
          | Review
        td
          +alink('greedy-2', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oYVdnUmMzakEtb2s/view?usp=sharing')
          br
          +alink('2015 midterm', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oNHlpVDhrMmZLemc/view?usp=sharing')
        td

      tr
        td 9
        td Nov 10
        td Mid-term Exam
        td
        td.error
          i.attention.icon
          | HW2 due

      tr
        td 10
        td Nov 17
        td Voting Theory or some fun topics
        td
          +alink('voting', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6ob1hDZlBqc1c2NG8/view?usp=sharing')
        td

      tr
        td 11
        td Nov 24
        td Graph Algorithms
        td
          +alink('graph-1', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oUjItSHAxNjc5dHc/view?usp=sharing')
        td.warning
          i.attention.icon
          | HW3 out

      tr
        td 12
        td Dec 1
        td Graph Algorithms
        td
          +alink('graph-2', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oZGR6cXNBOGh5Y2c/view?usp=sharing')
        td

      tr
        td 13
        td Dec 8
        td Graph Algorithms
        td
          +alink('graph-3', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oZG43V1pGY05GUUk/view?usp=sharing')
        td

      tr
        td 14
        td Dec 15
        td Amortized Analysis and NP Completeness
        td
          +alink('amortized', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oTlVtUlMycmRQLXc/view?usp=sharing')
          br
          +alink('npc-1', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oSHVhVENwX0xtNFU/view?usp=sharing')
        td.error
          i.attention.icon(style="vertical-align: top")
          p(style="display: inline-block;")
            | HW3 due

      tr
        td 15
        td Dec 22
        td NP Completeness
        td
          +alink('npc-2', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oRjFLd1REUEFFYWs/view?usp=sharing')
        td.warning
          i.attention.icon
          | HW4 out

      tr
        td 16
        td Dec 29
        td Approximation Algorithms
        td
          +alink('approx', 'https://drive.google.com/a/csie.ntu.edu.tw/file/d/0BxG8PWtjue6oZDNFTUlvR1BURVU/view?usp=sharing')
        td

      tr
        td 17
        td Jan 5
        td Cryptography or other topics
          br
          | Review
        td
        td

      tr
        td 18
        td Jan 12
        td Final Exam
        td
        td.error
          i.attention.icon
          | HW4 due



