#teaching.anchor
.section
  h2.ui.dividing.header
    i.users.icon
    .content Teaching Team
  .ui.message.warning
    .header About Office Hours
    p
      | Office hours will be announced after school starts.
  table.ui.celled.table
    thead
      th
      th Name
      th Office hour
      th Room

    tbody
      tr
        td Instructor
        td Hsu-Chun Hsiao
        td
          .ui.large.circular.brown.label.horizontal Mon
          | 16:00-17:00
        td R511
      tr
        td Instructor
        td Yun-Nung (Vivian) Chen
        td
          //
            .ui.large.circular.orange.label.horizontal Tue
            | 10:00-11:00
        td R418
      tr
        td Lead TA
        td 江昱熹
        td
          //
            .ui.large.circular.orange.label.horizontal Tue
            | 13:00-14:00
        td R217
      tr
        td Lead TA
        td 高廣
        td
          .ui.large.circular.green.label.horizontal Wed
          | 10:00-12:00
        td R524
      tr
        td TA
        td 周忠毅
        td
          .ui.large.circular.brown.label.horizontal Mon
          | 15:30-16:30
        td 地下室紅沙發
      tr
        td TA
        td 王瀚中
        td
          .ui.large.circular.orange.label.horizontal Tue
          | 10:30-11:30
        td R217
      tr
        td TA
        td 王子朋
        td
          .ui.large.circular.orange.label.horizontal Tue
          | 13:00-14:00
        td R217
      tr
        td TA
        td 鄭士驤
        td
          .ui.large.circular.green.label.horizontal Wed
          | 13:00-14:00
        td 地下室紅沙發
      tr
        td TA
        td 王馨儀
        td
          .ui.large.circular.blue.label.horizontal Thu
          | 10:00-12:00
        td 地下室紅沙發
      tr
        td TA
        td 許晉嘉
        td
          .ui.large.circular.purple.label.horizontal Fri
          | 12:00-13:00
        td R217
      tr
        td TA
        td 黃柏瑋
        td
          //
            .ui.large.circular.purple.label.horizontal Fri
            | 11:00-12:00
        td
      tr
        td TA
        td 蘇景耀
        td
          //
            .ui.large.circular.purple.label.horizontal Fri
            | 11:00-12:00
        td

  h3.ui.dividing.header For any questions...

  ul
    li please send your questions directly to
      a(href="mailto:ada-ta@csie.ntu.edu.tw")
        span.monobox ada-ta@csie.ntu.edu.tw
      | and the e-mails will be forwarded to all members of the teaching team.
    li please make sure the title of your mail starts with
      span.monobox [ADA2017]
      | .
      br
      | ex.
      span.monobox [ADA2017] HW1 question
      | .
