#teaching.anchor
.section
  h2.ui.dividing.header
    i.users.icon
    .content Teaching Team
  table.ui.celled.table
    thead
      th
      th Name
      th Office hour
      th Room

    tbody
      tr
        td Instructor
        td Hsu-Chun Hsiao
        td 
          .ui.large.circular.orange.label.horizontal Tue
          | 10:00-11:00
        td R511
      tr
        td TA
        td 夏誌陽
        td TBD
        td 217
      tr
        td TA
        td 江誠敏
        td 
          .ui.large.circular.orange.label.horizontal Tue
          | 13:00-14:00
        td 217
      tr
        td TA
        td 黃凱祺
        td TBD
        td 217
      tr
        td TA
        td 顏毓均
        td 
          .ui.large.circular.purple.label.horizontal Fri
          | 11:00-12:00
        td 217
      tr
        td TA
        td 余孟桓
        td
          .ui.large.circular.purple.label.horizontal Fri
          | 14:00-15:00
        td R217
      tr
        td TA
        td 曾柏寧
        td 
          .ui.large.circular.purple.label.horizontal Fri
          | 13:00-14:00
        td 217

  h3.ui.dividing.header Steps for asking questions

  ul
    li Please direct send all your questions to 
      a(href="mailto:ada01@csie.ntu.edu.tw")
        span.monobox ada01@csie.ntu.edu.tw
      | and the e-mails will be forwarded to all members of the teaching team.
    li Please make sure the title of your mail starts with #[span.monobox [ADA2016#{']'}]. 
      br
      | ex. “[ADA2016] HW1 question” 
